
/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  --cor-fonte: #ababab;
  --cor-fonte-secundaria: #ffffff;
  --gradiente-fundo-invertido: linear-gradient(45deg, #323b42, #2c333a 80%);
  --gradiente-fundo: linear-gradient(225deg, #323b42 0%, #121317 80%);
}

/*css do dashboard*/
.dashboard {
  background: var(--gradiente-fundo);
  height: 170vh;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.vermelho {
  color: var(--cor-fonte);
  transform: scale(1.5);
  padding: 10px;
  cursor: pointer;
}

.head__logo {
  width: 80px;
  height: 80px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradiente-fundo-invertido);
  overflow-x: hidden;
}

.titulo {
  color: var(--cor-fonte-secundaria);
  text-align: center;

  margin-top: 30px;
  font-size: 18px;
}

screen-canvas {
  width: 350px !important;
  height: 250px !important;
  margin: 0 auto;
}

.grafico {
  color: white;
  margin: 0 auto;
  margin-top: 50px;
}

.container__sensores {
  margin: 20px 0 0 10px;
  color: #323b42;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100px;
  border: 1px solid white;
  border-radius: 8px;
  background: linear-gradient(225deg, #8febff, #6acaff 80%);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px #6acaff;
}

.container__titulo {
  margin-top: 5px;
  font-weight: bold;
}

.container__lista--item {
  font-size: 14px;
  margin: 5px 0;
}

.container__sinalControle {
  margin: 40px 20px 0 0;
  color: #323b42;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 220px;
  height: 100px;
  border: 1px solid white;
  border-radius: 8px;
  background: linear-gradient(225deg, #f8c390, #d279ee);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px #d279ee;
}

.menu-Sand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradiente-fundo);
  padding: 10px;
  position: absolute;
  top: 80px;
  left: -100vh;
  transition: 0.5s;
}

.hidden {
  left: 0;
  transition: 0.5s;

}

.menu__titulo {
  color: var(--cor-fonte);
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.menu__lista {
  display: flex;
  flex-direction: column;

  justify-items: space-evenly;
}

.menu__lista--item {
  color: var(--cor-fonte);
  border-bottom: 1px solid var(--cor-fonte);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: space-evenly;
  margin-top: 10px;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.control {
    height: 20%;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0%;
    display: flex;  
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

.control-content{
  margin-block-start: 1em;
  margin-block-end: 1em;
  align-content: center;
  justify-content: center;
  vertical-align: middle; 
}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content{
  position: relative;
  width: 100%;
}

.round-button{
  margin-block-start: 1em;
  margin-block-end: 1em;
  display:block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.send-button{
  height: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display:block;
  text-align: center;
}

.opcao-luz{
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  height: 40px;
  width: 40px;
  padding: auto;
  background-color: #6acaff;
  align-items: center;
  justify-content: center;
}